<script setup lang="ts">
import type { Measurement, HTMLMeasurement } from '@/pagespeed'

defineProps<{
  measurements: Measurement[]
}>()
</script>

<template>
  <h1>Measurements List</h1>
  <table className="pf-c-table pf-m-grid-md" id="table-basic">
    <thead>
      <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Size</th>
        <th>Full size</th>
        <th>Scripts</th>
        <th>Styles</th>
        <th>Images</th>
        <th>Duration</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="measurement in measurements" v-bind:key="measurement.id">
        <td>{{ measurement.url }}</td>
        <td>{{ measurement.responseCode }}</td>
        <td>{{ measurement.contentSize }}</td>
        <td>{{ measurement.fullContentSize }}</td>
        <td>{{ (measurement as HTMLMeasurement).styles?.length }}</td>
        <td>{{ (measurement as HTMLMeasurement).scripts?.length }}</td>
        <td>{{ (measurement as HTMLMeasurement).images?.length }}</td>
        <td>{{ measurement.duration }}</td>
      </tr>
    </tbody>
  </table>
</template>
