<script setup lang="ts">
import { ref } from 'vue'
import Measurements from './components/MeasurementsComponent.vue'
import type { Measurement } from '@/pagespeed'
import {
  Chart as ChartJS,
  CategoryScale,
  LinearScale,
  PointElement,
  LineElement,
  Title,
  Tooltip,
  Legend,
  type LineControllerDatasetOptions
} from 'chart.js'
import { Line } from 'vue-chartjs'

ChartJS.register(CategoryScale, LinearScale, PointElement, LineElement, Title, Tooltip, Legend)

const measurements = ref([] as Measurement[])
const chartData = ref({
  labels: [] as string[],
  datasets: [
    {
      label: 'Duration (in ms)',
      data: [],
      fill: false,
      backgroundColor: 'rgb(255, 99, 132)',
      borderColor: 'rgba(255, 99, 132, 0.2)'
    } as unknown as LineControllerDatasetOptions
  ]
})

function init() {
  fetch('/measurements')
    .then((res) => res.json())
    .then((data: Measurement[]) => {
      const chartdata: {
        labels: string[]
        datasets: LineControllerDatasetOptions[]
      } = {
        labels: [] as string[],
        datasets: [
          {
            yAxisID: 'yAxis1',
            label: 'Duration (in ms)',
            data: [],
            fill: false,
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgba(255, 99, 132, 0.2)'
          } as unknown as LineControllerDatasetOptions,
          {
            yAxisID: 'yAxis2',
            label: 'Content (in bytes)',
            data: [],
            fill: false,
            backgroundColor: 'rgb(128, 99, 132)',
            borderColor: 'rgba(128, 99, 132, 0.2)'
          } as unknown as LineControllerDatasetOptions
        ]
      }
      for (const d of data) {
        chartdata.labels.push(
          new Date(d.timestamp).toLocaleString([], {
            month: '2-digit',
            day: '2-digit',
            year: '2-digit',
            hour: '2-digit',
            minute: '2-digit'
          })
        )
        // @ts-ignore
        chartdata.datasets[0].data.push(d.duration)
        // @ts-ignore
        chartdata.datasets[1].data.push(d.contentSize)
      }
      measurements.value = data
      chartData.value = chartdata
    })
    .catch(console.log)
}
init()
</script>

<template>
  <div class="App">
    <Measurements :measurements="measurements" />
    <Line :data="chartData as unknown as any" />
  </div>
</template>

<style>
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
</style>
